@font-face {
    font-family: 'News Cycle', sans-serif;
}

body {
    font-family: 'News Cycle', sans-serif;
    color : red;
    background-color: #000000;

}

/* Contact form */
section{
    font-family: 'News Cycle', sans-serif;
    background-color: rgb(170, 170, 170);
    border: #fff 2px solid;
    margin: 50px 0 50px;
}

form {
    padding-bottom: 30px;
    padding-top : 30px;
}

address,
.our-address {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    padding-top: 30px;
}
/* end contact form */

.blog_page,
.article_page{
    padding-top: 56px;
}


.footer{

   background-color:  #0f0f0f;
    max-height: 12vh;
}




/* buttons style */

