@font-face {
    font-family: 'News Cycle', sans-serif;
}

body {
    font-family: 'News Cycle', sans-serif;
    color : saddlebrown;
    background: radial-gradient(closest-side ellipse at center, black, navajowhite);;


}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.jumbotron-dark{
    font-family: 'News Cycle', sans-serif;
    font-size: 24px;
    margin: 0;
    box-shadow: black 3px 3px 3px ;
}



/* Contact form */
section{
    font-family: 'News Cycle', sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    border: #fff 2px solid;
    box-shadow: black 3px 2px 3px 1px ;
    margin: 50px 0 50px;
}

form {
    padding-bottom: 30px;
    padding-top : 30px;
}

address,
.our-address {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    padding-top: 30px;
}
/* end contact form */

.blog_page,
.article_page{
    padding-top: 56px;
}

.comments{
    color : black;
    border: navajowhite 1px solid;
}
footer{
    font-weight: bold;
    max-height: 12vh;

}




/* buttons style */

