{% extends 'layout/layout.html.twig' %}
{% block title %} Page non trouvée {% endblock %}

{% block content %}
    <div class="container error">
        <div class="text-center">
            <h1 class="text-center"> Erreur 404 - Page introuvable.</h1>
            <img src="../public/images/404-page-erreur.jpg" alt="page 404">
            <p>Vous avez dû vous perdre mais il vous suffit de cliquer sur le boutton ci-dessous pour reprendre votre route.</p>
            <a class="btn-sm btn-secondary" href="../public/index.php?access=home!index">Retour vers le site</a>
        </div>
    </div>
{% endblock %}




