{% extends 'layout/layout.html.twig' %}
{% block content %}

    <header>
        <div class="jumbotron-dark py-4 text-center">
            <h1 class="title mt-md-4">Thomas DEMAGNY</h1>
            <p class="lead sub-title">Développeur Php</p>
            <div class="text-center mt-md-5">
                <p class="text-muted">
                    J'aime bien mon café noir le matin:<br/>
                    le code aussi...<br/>
                    Mais le plus simple c'est encore de consulter mon CV ainsi que mon portfolio!</p>
                <p><a class="btn btn-secondary btn-lg btn-cv" role="button"
                      href="../public/images/Cv-Thomas-Demagny.pdf" onclick="window.open(this.href);return false">MON CV</a></p>
            </div>
        </div>
    </header>
    <section class="container">
        <h2 class=" text-center mt-md-5">N'hésitez pas à me contacter </h2>
        <div class="row contact_form">
            <div class="col-md-6 col-lg-6">
                <form name="contact" method="post" action="../public/index.php?access=home!mail">
                    <!--Ajouter le lien -->
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Nom" id="name"
                                       data-validation-required-message="Ce champ est obligatoire !">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Prénom" id="surname"
                                       data-validation-required-message="Ce champ est obligatoire !">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="email" id="email" required
                               data-validation-required-message="Ce champ est obligatoire !">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Objet" id="object" required
                               data-validation-required-message="Ce champ est obligatoire !">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="8" required id="content"
                                  data-validation-required-message="Ce champ est obligatoire"
                                  placeholder="Votre message"></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary" id="submit">Envoyer</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-lg-6">
                <address class="our-address">
                    <p><img src="../public/images/IMG_moi.jpg" class="img-fluid rounded-circle border p-1"
                            alt="it's me !"></p>
                    <p>10000 Troyes</p>
                    <p>Tel: +33 6 02 73 42 87</p>
                    <a href="mailto:demagny.t@hotmail.fr">demagny.t@hotmail.fr</a>
                </address>
            </div>
        </div>
    </section>
{% endblock %}




