{% extends 'layout/layout.html.twig' %}


{% block content %}
    <section class="portfolio_page">
        <h2>Mes projets</h2>
        <p>Voici la liste de mes projets réalisés, en cours ou à venir .</p>
        <ul class="portfolio_page col-12">
            <li class="col-6">
                <h2>01</h2>
                <h3>Chalets et Caviar</h3>
                <p>Projet sous Wordpress.</p>
                <p class="btn btn-link button"><a href="https://oc.thomas-demagny.com/projet2" onclick="window.open(this.href);return false">Voir le site</a></p>
            </li>
            <li class="col-6">
                <h2>02</h2>
                <h3>Festival des films</h3>
                <p>Bootstrap</p>
                <p class="btn btn-link button"><a href="https://oc.thomas-demagny.com/festival" onclick="window.open(this.href);return false">Voir le site</a></p>
            </li>
        </ul>
        <ul class="portfolio_page col-12">
            <li class="col-4">
                <h2>03</h2>
                <h3>Express Food UML</h3>
                <p>
                    UML
                </p>
                <p class="btn btn-link button"><a href="https://github.com/thomas-demagny/P4-UML" onclick="window.open(this.href);return false">Voir sur github</a>
                </p>
            </li>
            <li class="col-4">
                <h2>04</h2>
                <h3>Blog PHP</h3>
                <p>
                    PHP MySQL
                </p>
                <p class="btn btn-link button"><a href="https://blog.thomas-demagny.com" onclick="window.open(this.href);return false">Vers le site</a></p>
            </li>
            <li class="col-4">
                <h2>05</h2>
                <h3>Snow Tricks</h3>
                <p>
                    Coming soon
                </p>
                <p class="btn btn-link button"><a href="#" onclick="window.open(this.href);return false">A venir</a></p>
            </li>
        </ul>
        <ul class="portfolio_page col-12">
            <li class="col-6">
                <h2>06</h2>
                <h3>API REST</h3>
                <p>
                    Coming soon
                </p>
                <p class="btn btn-link button"><a href="#" onclick="window.open(this.href);return false">A venir</a></p>
            </li>
            <li class="col-6">
                <h2>07</h2>
                <h3>ToDo</h3>
                <p>
                    Coming soon
                </p>
                <p class="btn btn-link button"><a href="#" onclick="window.open(this.href);return false">A venir</a></p>
            </li>
        </ul>
    </section>
{% endblock %}



