{% extends 'layout/layout.html.twig' %}


{% block content %}

    <h2>Mes projets</h2>
    <p>Voici la liste de mes projets réalisés, en cours ou à venir .</p>
    <ul class="tilesWrap col-6">
        <li class="col-6">
            <h2>01</h2>
            <h3>Chalets et Caviar</h3>
            <p>
                Projet sous Wordpress.
            </p>
            <button>Read more</button>
        </li>
        <li class="col-6">
            <h2>02</h2>
            <h3>Festival des films de plein air</h3>
            <p>
                But also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s.
            </p>
            <button>Read more</button>
        </li>
    </ul>
    <ul class="tilesWrap col-4">
        <li class="col-4">
            <h2>03</h2>
            <h3>Express Food UML</h3>
            <p>
                But also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s.
            </p>
            <button>Read more</button>
        </li>
        <li class="col-4">
            <h2>04</h2>
            <h3>Blog PHP</h3>
            <p>
                But also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s.

            </p>
            <button>Read more</button>
        </li>
        <li class="col-4">
            <h2>05</h2>
            <h3>Snow Tricks</h3>
            <p>
                Projet symfony 4

            </p>
            <button>Read more</button>
        </li>
    </ul>
    <ul class="tilesWrap col-6">
        <li class="col-6">
            <h2>06</h2>
            <h3>Title 6</h3>
            <p>
                But also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s.

            </p>
            <button>Read more</button>
        </li>
        <li class="col-6">
            <h2>07</h2>
            <h3>Title 7</h3>
            <p>
                But also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s.

            </p>
            <button>Read more</button>
        </li>
    </ul>

{% endblock %}