<div class="footer1 mt-md-5 pt-4">
    <div class="container-fluid d-flex justify-content-around">
        <div class="">
            <h3 class="widget-title text-center">Suivez-moi</h3>
            <p class="follow-me-icons-dark">
                <a href="https://twitter.com/Thomas_DEMAGNY"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="https://github.com/thomas-demagny"><i class="fab fa-github fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/thomas-demagny/"><i class="fab fa-linkedin fa-3x"></i></a>
            </p>

        </div>
        <div class="text-center">
            <h3 class="widget-title">Le projet</h3>
            <p>Ce blog à été réalisé en PHP avec Bootstrap et Twig.</p>
            <p> Il fait parti de mon parcours avec l'école en ligne
                <a href="https://openclassrooms.com/fr"><strong>Openclassrooms</strong></a> PHP/Symfony.</p>
        </div>
    </div>
</div>
<div class="footer2">

    <div class="container d-flex justify-content-around">
        <div class="row">
            <div>
                <p class="simplenav mr-5">
                    <a href="../public/index.php?access=home">Accueil</a> |
                    <a href="../public/index.php?access=blog">Blog</a> |
                    <a href="../public/index.php?access=home!portfolio">Portfolio</a> |
                    <b><a href="../public/index.php?access=user!signin">Connexion</a></b>
                </p>
            </div>
            <div class="widget ml-4">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2018-2019, <a href="" rel="développeur">Thomas DEMAGNY</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>























