<div class="footer1 py-2">
    <div class="d-flex justify-content-around mt-md-4 text-center">
        <div>
            <h3 class="widget-title">Suivez-moi</h3>
                <p class="follow-me-icons-dark">
                    <a href=""><i class="fab fa-twitter fa-3x"></i></a>
                    <a href=""><i class="fab fa-github fa-3x"></i></a>
                    <a href=""><i class="fab fa-facebook fa-3x"></i></a>
                </p>
        </div>
        <div class="text-center" >
            <h3 class="widget-title">Le projet</h3>
                <p>Ce blog à été réalisé en PHP avec Bootstrap et Twig.</p>
                <p> Il fait parti de mon parcours avec l'école en ligne
                <a href="https://openclassrooms.com/fr"><strong>Openclassrooms</strong></a> PHP/Symfony.</p>
        </div>
    </div>
</div>

<div class="footer2 py-2">
    <div class="text-md-center">
        <p>
            <b><a href="../src/View/signin.twig">Connexion</a></b>
        </p>
        <div>
            <p> Copyright &copy; 2018-2019, <a href="" rel="développeur">Thomas DEMAGNY</a></p>
        </div>
    </div>
</div>

















