    <div class="footer1 mt-md-5 pt-4">
        <div class="container-fluid d-flex justify-content-around">
            <div class="text-center">
                <h3 class="widget-title text-center">Suivez-moi</h3>
                <p class="follow-me-icons-dark">
                    <a href="https://twitter.com/Thomas_DEMAGNY"><i class="fab fa-twitter fa-3x"></i></a>
                    <a href="https://github.com/thomas-demagny"><i class="fab fa-github fa-3x"></i></a>
                    <a href="https://www.linkedin.com/in/thomas-demagny/"><i class="fab fa-linkedin fa-3x"></i></a>
                </p>
                <p class="simplenav mr-4">
                    <a href="../public/index.php?access=home!index">Accueil</a> |
                    <a href="../public/index.php?access=blog">Blog</a> |
                    <a href="../public/index.php?access=home!portfolio">Portfolio</a> |
                    <b><a href="../public/index.php?access=user!connexion">Connexion</a></b>
                </p>
            </div>
            <div class="text-center ml-5">
                <h3 class="widget-title">Le projet</h3>
                <p>Ce blog à été réalisé en PHP avec Bootstrap et Twig.</p>
                <p> Il fait parti de mon parcours avec l'école en ligne
                    <a href="https://openclassrooms.com/fr"><strong>Openclassrooms</strong></a> PHP/Symfony.</p>
            </div>
        </div>
    </div>
    <div class="footer2 container">
        <div class="widget ml-3">
            <p class="text-center">
                Copyright &copy; 2018-2019, <a href="https://www.linkedin.com/in/thomas-demagny/" rel="développeur">Thomas DEMAGNY</a>
            </p>
        </div>
    </div>























