<div class="navbar navbar-expand-lg navbar-dark">

    <div class="container">
        <a class="navbar-brand" href="../public/index.php?access=home!index">Tom's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../public/index.php?access=home!index">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?access=article">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../public/index.php?access=home!portfolio">Portfolio</a>
                </li>

                {% if session.user.role is defined and session.user.role is same as('admin') %}
                    <li class="nav-item">
                        <a class="nav-link" href="../public/index.php?access=admin">Admin</a>
                    </li>
                {% endif %}
                {% if session.user.username is not defined %}
                    <li class="form-inline mr-sm-2">
                        <a class="btn btn-secondary my-2 my-sm-0" type="submit"
                           href="../public/index.php?access=user!connexion">Connexion</a>
                    </li>
                {% else %}
                    <li class="form-inline mr-sm-2">
                        <a class="btn btn-secondary my-2 my-sm-0" type="submit"
                           href="../public/index.php?access=user!logout"
                           onclick="return window.confirm('Êtes-vous certain de vouloir vous déconnecter ?!')">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>




